---
import { Image } from "astro:assets";
import ProfilePicture from "../assets/images/profile-pic.png";
import IconCode from "../components/icons/Code.astro";

const { frontmatter, url } = Astro.props;
const { title, description } = frontmatter || Astro.props;

const ANALYTICS_ID = import.meta.env.ANALYTICS_ID;

const isOnHomePage = url === "";
const formattedTitle = isOnHomePage ? title : `${title} | Sean Washington`;
const viewSourceUrl = "https://github.com/seanwash/seanwashcom-astro";

const menuItems = [
	{
		name: "Blog",
		url: "/posts",
	},
	{
		name: "Bookmarks",
		url: "/bookmarks",
	},
	{
		name: "Uses",
		url: "/uses",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />

		<title>{formattedTitle}</title>

		<meta property="og:image" content="/og-image.png" />

		{
			description && (
				<>
					<meta name="description" content={description} />
					<meta property="og:description" content={description} />
				</>
			)
		}
	</head>
	<body
		class="dark:bg-neutral-800 prose dark:prose-invert min-h-screen min-w-full flex flex-col justify-between"
	>
		<div>
			<nav class="p-8 flex items-center space-x-4">
				<a href="/">
					<Image
						src={ProfilePicture}
						class="w-12 h-12 m-0 inline-block"
						alt="Avatar of Sean Washington"
					/>
				</a>

				{
					menuItems.map((item) => (
						<a
							class:list={[
								"no-underline text-neutral-500 dark:text-neutral-400",
								{
									"font-bold text-neutral-900 dark:text-neutral-100": false,
								},
							]}
							href={item.url}
						>
							{item.name}
						</a>
					))
				}
			</nav>

			<main class="p-8 pt-0 max-w-3xl">
				<slot />
			</main>
		</div>

		<footer class="p-8 text-xs flex items-center space-x-2">
			<span>&copy; Sean Washington.</span>

			<a href={viewSourceUrl}>
				<IconCode />
				<span class="sr-only">View Source</span>
			</a>
		</footer>

		{
			ANALYTICS_ID && (
				<script
					is:inline
					async
					src={`https://www.googletagmanager.com/gtag/js?id=${ANALYTICS_ID}`}
				></script>

				<script is:inline define:vars={{ ANALYTICS_ID: ANALYTICS_ID }}>
					window.dataLayer = window.dataLayer || [];
					function gtag() {
						dataLayer.push(arguments);
					}
					gtag("js", new Date());

					gtag("config", ANALYTICS_ID);
				</script>
			)
		}
	</body>
</html>
